*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-fonts: 'Open Sans';
  --secondary-font: 'Raleway';

  --accent-color: #ff6c00;
  --main-light-theme: #303030;
  --main-dark-theme: #ffffff;

  --items: 3;
  --indent: 30px;
}

body {
  font-family: ver(--main-fonts), sans-serif;
  font-size: 18px;
  line-height: 1.67;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* common styles end */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 1px solid red;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.link {
  text-decoration: none;
  /* color: currentColor; */
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  padding: 12px 20px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;

  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--main-dark-theme);
}

.btn-mode-light {
  color: var(--main-light-theme);
}

.btn-mode-dark {
  color: var(--main-dark-theme);
}

.socials-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--main-light-theme);
}

.socials-link:hover,
.socials-link:focus {
  color: var(--accent-color);
}

.uppertitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.uppertitle-mode-light {
  color: var(--main-light-theme);
}

.uppertitle-mode-dark {
  color: rgba(157, 164, 189, 0.6);
}

.main-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-dark-theme);
}

.section-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.section-title-mode-light {
  margin-bottom: 20px;
  color: #303030;
}

.section-title-mode-dark {
  color: #ffffff;
  margin-bottom: 44px;
}

.section-subtitle {
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.section-subtitle-mode-light {
  color: #555555;
}

.section-subtitle-mode-dark {
  color: #ffffff;
}

/* //========================================== */

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--indent) / 2);
}

.card-set-item {
  flex-basis: calc((100% - var(var(--indent)) * var(--items)) / var(--items));
  margin: calc(var(--indent) / 2);
}

/* //========================================== */

/* common styles end */

/* slider start */

.slider {
  color: #fff;
}

.slider-btn {
  padding: 8px 0;
  min-width: 60px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: #fff;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}

.slider-btn-prev {
  text-align: left;
  opacity: 0.6;
}

.slider-btn-next {
  text-align: right;
}

/* slider end */

.header {
  background-color: #191c26;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 71px;
}

.header-list {
  display: flex;
}

.header-list-item:not(:last-child) {
  margin-right: 40px;
}

.header-link {
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--main-dark-theme);
}

.curent-link {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-group {
  margin-left: auto;
}

.header-contact {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--main-dark-theme);
}

.header-btn {
  margin-left: 40px;
}

/* section about */
.about-container {
  display: flex;
}

.about-list {
  display: flex;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-group {
  flex-basis: 500px;
  margin-left: 64px;
}

.about-descr {
  margin-bottom: 40px;
}

/* section price */

.price {
  background-color: #111319;
}

.price-title {
  margin-bottom: 44px;
}

.price-list {
  display: flex;

  font-size: 19px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  margin-bottom: 50px;
}

.price-list-item {
  flex-basis: 50%;
}

.price-inner-list {
  padding: 30px 40px;
}

.price-inner-item {
  display: flex;
  justify-content: space-between;
}

.price-inner-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* benefits section */

.benefits-amount {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-decor {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: #ff6c00;
}

.benefits-descr {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

/* team section */

.team {
  background-color: #f7f7f7;
}

.team-uppertitle {
  margin-bottom: 20px;
}

.team-title {
  margin-bottom: 44px;
}

.team-list {
  /* --items: 3; */
}

.team-item {
  outline: 1px solid red;
}

.team-avatar {
  margin-bottom: 30px;
}

.team-subtitle {
  font-family: var(--main-fonts);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;

  margin-bottom: 8px;
}

.team-position {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;

  margin-bottom: 30px;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-item:not(:last-child) {
  margin-right: 10px;
}

/* portfolio section */

.portfolio-uppertitle {
  margin-bottom: 44px;
}

.portfolio-list {
  --items: 4;
}

/* contact section */

.contacts {
  border-color: #191c26;
}

.contacts-uppertitle {
  color: #ffffff;
}

.contacts-address {
  font-size: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-scedule {
  font-size: 18px;
  line-height: 1.67;
}

/* footer */

.footer-container {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #f7f7f7;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer-copyright {
  font-family: var(--main-fonts);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &::before {
    content: '';
    height: 1px;
    width: 60px;
    background-color: var(--main-light-theme);
  }
}

.footer-list-item {
  margin-left: 40px;
}

.socials-link {
   text-transform: none;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #303030;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, 
    &:focus {
        color: var(--accent-color);
    }
}