*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-fonts: 'Open Sans';
  --secondary-font: 'Raleway';

  --accent-color: #ff6c00;
  --main-dark-theme: #ffffff;
  --main-light-theme: #303030;
}

body {
  font-family: ver(--main-fonts), sans-serif;
  font-size: 18px;
  line-height: 1.67;
}

h1, h2, h3, h4, p {
margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* common styles end */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 1px solid red;
}

.link {
  text-decoration: none;
  /* color: currentColor; */
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;

  background-color: transparent;
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--main-dark-theme);
}

.btn-mode-light {
  color: var(--main-light-theme);
}

.btn-mode-dark {
  color: var(--main-dark-theme);
}

.socials-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--main-light-theme);
}

.socials-link:hover,
.socials-link:focus {
  color: var(--accent-color);
}

.uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.uppertitle-mode-light {
  color: var(--main-light-theme);
}

.uppertitle-mode-dark {
  color: rgba(157, 164, 189, 0.6);
}

.main-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-dark-theme);
}

.section-title {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.section-title-mode-light {
  color: var(--main-light-theme);
}

.section-title-mode-dark {
  color: var(--main-dark-theme);
}

.section-subtitle {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.section-subtitle-mode-light {
  color: #555555;
}

.section-subtitle-mode-light {
  color: #ffffff;
}

/* common styles end */

/* slider start */

.slider {
  color: #fff;
}

.slider-btn {
  padding: 8px 0;
  min-width: 60px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: #fff;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}

.slider-btn-prev {
  text-align: left;
  opacity: 0.6;
}

.slider-btn-next {
  text-align: right;
}

/* slider end */

.header {
  background-color: #191c26;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-list {
  display: flex;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--main-dark-theme);
}

.curent-link {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-contact {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--main-dark-theme);
}
