.header {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 71px;
}

.logo__svg {
  fill: var(--main-light-theme);
}

.nav__list {
  display: flex;
}

.nav__item {
  position: relative;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.nav__link {
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--main-dark-theme);

  transition: color var(--anim-slow);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
  display: flex;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    transform: translateY(-20px);

    width: 100%;
    height: 4px;
    display: inline-block;
    margin-right: 10px;

    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

.curent-link {
  color: var(--accent-color);
  display: flex;
  align-items: center;
}

.curent-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  transform: translateY(-20px);

  width: 100%;
  height: 4px;
  display: inline-block;
  margin-right: 10px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.header__group {
  margin-left: auto;
}

.header__contact {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--main-dark-theme);
  transition: color var(--anim-fast);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header__btn {
  margin-left: 40px;
}
